#contact {
    h1 {
        text-align: center;
    }

    ul {
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;

        li {
            display: flex;
            justify-content: space-around;
            padding: 2rem;
            width: 25%;
            height: auto;
            filter: brightness(0) invert(1);
        }
    }

    margin-bottom: 10rem;
}
